<div class="room-card">
  <div class="room-image">
    <img [src]="room.imagePath" alt="{{ room.name }} Image" />
  </div>
  <div class="room-details">
    <h2>{{ room.name }}</h2>
    <p>CAP: {{ room.capacity }}</p>
    <p>TAKEN: {{ room.taken }}</p>
    <p>FREE: {{ room.capacity - room.taken }}</p>
    <p>FACILITIES: {{ room.facilities.join(", ") }}</p>
    <p>AREA: {{ room.area }} sq. ft.</p>
    <p>PRICE: {{ room.price }}</p>
    <p>QUANTITY: {{ room.quantity }}</p>
  </div>
  <div class="reservations-wrap" [ngClass]="{ 'add-show': isShowReservation }">
    <button  id="drop-res"(click)="this.isShowReservation = !this.isShowReservation">
      {{ isShowReservation ? "Hide Reservations" : "Show Reservations" }}
    </button>
    <div class="res-wrap">
      @for (res of reservations; track reservations) {

      <div class="res-block">
        <p>{{res.startDate | date: 'shortDate'}} <i class="fa-solid fa-arrow-right"></i> {{res.endDate | date: 'shortDate'}} <span style="color:var(--color-pink); font-weight: bold;">  <i class="fa-solid fa-moon"></i> {{res.days}}</span></p>
        <p>{{res.guestInfo?.title + ' ' + res.guestInfo?.name  + ' ' +  res.guestInfo?.surname}} <span style="color:var(--color-pink);"  *ngIf="res.guests > 1"> & {{ res.guests - 1}} {{res.guests > 2 ? "guests" : "guest"}} </span></p>
        <p>{{res.finalPrice}} <span style="color: var(--color-pink)">$</span></p>
        <div class="go-to-res">
          <button><i class="fa-solid fa-arrow-right-to-bracket"></i></button>

        </div>
      </div>
       
      } @empty {
      <p>no reservations for this room</p>
      }
    </div>
  </div>
</div>
