<div id="full-page">
  <div id="section1">
    <div class="parallax my-filter">
      <div class="head-text reveal2 prevent-select">The place all your dreams come together.</div>
      <div class="lower-text reveal2 prevent-select">Take a bath in Luxury</div>
      <div class="arrow-holder reveal2">
        <div class="arrow ar1"></div>
        <div class="arrow ar2"></div>
      </div>
    </div>
  </div>
  <div id="section2">
    <div class="parallax2 my-filter">
        <div class="inside-para">
            <div class="head-text pink text-clamp reveal prevent-select ">
                Take a part in the finest dining experience
              </div>
              <div class="lower-text pink reveal tc2 prevent-select ">With our world famous chef John Doe!</div>
              <button class="reveal"> Our Menu</button>
        </div>

    </div>
  </div>
  <div id="section4"></div>
  <div class="parallax3 my-filter ">
    <div class="head-text pink reveal prevent-select ">
        Surrender yourself to comfort
      </div>
      <div class="lower-text pink reveal prevent-select ">Our inviting rooms are made for the perfect stay.</div>
  </div>


  
    <div id="section3" class="info my-filter">
        <div class="social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="creds">
            <p>©Demo DR</p>
            <p>Privacy Policy</p>
            <p>Terms</p>
        </div>
      
  </div>

