<ng-container *ngIf="this.blogItem; else errorBlock">
  <div class="top-bar-info">
    <h1>{{ blogItem.title }}</h1>

   
      <div class="inner-spread">
        <div class="likes-info">
          <div style="cursor: pointer"  (click)="addLike()" class="likes">
            
            <i [ngStyle]="{'color': isLiked ? 'var(--color-pink)' : 'white'}" class="fa-solid fa-heart"></i>
            <p>{{ this.likes }}</p>
          </div>
        </div>
    
        <div class="social">
          <i class="logo fa-brands fa-facebook"></i>
          <i class="logo fa-brands fa-twitter"></i>
          <i class="logo fa-solid fa-share-nodes"></i>
        </div>

      </div>

   


  </div>

  <div class="content-list">
    <carousel [item]="blogItem.photos"></carousel>
    <p class="paragraph" *ngFor="let para of blogItem.content">{{para}}</p>
  </div>
  <p>{{blogItem.author}} <span style="color: var(--color-pink)">-</span> {{blogItem.date | date:'shortDate'}}  </p>
   
</ng-container>

<ng-template #errorBlock>
  <p>Load error</p>
</ng-template>
