/* app.component.css */

.room-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.room-card {
  border: 1px solid #ccc;
  margin: 10px;
  position: relative;
  transition: all 1s ease-out;
  overflow: hidden;
  padding-bottom: 20px;
}
.room-image {
  position: absolute;
  right: 0;
  top:0;
}
.room-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.room-details {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 2;
}
.room-details > h2{
  background-color: var(--button-color1);
  margin: 0;
  padding: 10px;
  margin-bottom: 10px;
}


.room-details p {
  font-size: 1.2em;
  color: white;
  padding-left: 10px;
}
.reservations-wrap {
  max-height: 30px;
  flex-basis: 100%;
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: max-height 0.5s linear;
  -moz-transition: max-height 0.5s linear;
  -o-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear;
}
#drop-res {
  font-family: inherit;
  font-size: large;
  color: white;
  height: 50px;
  background-color: var(--button-color2);
  border: none;
  width: calc(100% + 40px);
  left: -20px;
  cursor: pointer;
  position: relative;
}
.add-show {
  max-height: 600px;
  transition: max-height 0.5s linear;
  -webkit-transition: max-height 0.5s linear;
  -moz-transition: max-height 0.5s linear;
  -o-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear;
}
.res-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 15px;
}
.res-block {
  position: relative;
  flex-grow: 1;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 2px;
  background-color: var(--color-secondary);
  padding: 0px 50px 0px 10px;
  height: auto;
}
.res-block p {
  font-size: 1.2rem;
  padding: 10px;
  margin: 0;
}
.go-to-res {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.go-to-res > button {
  flex-grow: 1;
  border: none;
  width: 45px;
  cursor: pointer;
  background-color: var(--button-color2);
  color: white;
}
.go-to-res > button > i {
  font-size: 100%;
}
.go-to-res > button:hover {
  background-color: var(--button-color1);
  color: var(--color-pink)
}
