.galery{
    background-image: url(../../../assets/images/background3.png);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.list-wraper{
    background-color: var(--color-primary);
    margin:0 7rem 0 7rem;
    color:white;
    font-family: 'Poiret One', cursive;
    max-width: 750px;
}
