h3{
    margin: 0;
    color: var(--color-pink)
}
.galery-wraper{
    padding: 3rem 1rem;
    background-image: url(../../../assets/images/background3.png);
    width: calc(100% - 2rem);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.slideshow{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid var(--color-pink);
    border-bottom: 1px solid var(--color-pink);
    min-height: 100px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.6783088235294117) 0%, rgba(0,0,0,0) 78%);
}
.photo-item{
    width: 250px;
    aspect-ratio: 1/1;
}