<div class="background">
  <div class="wrap">
    <div class="manage-bar">
      <a routerLink="blog-edit" routerLinkActive="active-class2" class="test">
        <div class="manage-button">
          <span class="manage-text">Blog </span>
        </div>
        <div class="manage-icon">
          <lord-icon
            src="https://cdn.lordicon.com/hpivxauj.json"
            trigger="hover"
            colors="primary:#1d2129"
            style="width: 40px; height: 40px"
          >
          </lord-icon>
        </div>
      </a>

      <a routerLink="room-list" routerLinkActive="active-class2" class="test">
        <div class="manage-button">
          <span class="manage-text">Room List </span>
        </div>
        <div class="manage-icon">
          <lord-icon
            src="https://cdn.lordicon.com/zncllhmn.json"
            trigger="hover"
            colors="primary:#1d2129"
            style="width: 40px; height: 40px"
          >
          </lord-icon>
        </div>
      </a>

      <a
        routerLink="reservations"
        routerLinkActive="active-class2"
        class="test"
      >
        <div class="manage-button">
          <span class="manage-text">Reservations</span>
        </div>
        <div class="manage-icon">
          <lord-icon
            src="https://cdn.lordicon.com/qvbrkejx.json"
            trigger="hover"
            colors="primary:#1d2129"
            style="width: 40px; height: 40px"
          >
          </lord-icon>
        </div>
      </a>

      <a routerLink="occupancy" routerLinkActive="active-class2" class="test">
        <div class="manage-button">
          <span class="manage-text">Occupancy</span>
        </div>
        <div class="manage-icon">
          <lord-icon
            src="https://cdn.lordicon.com/qtxqkhzr.json"
            trigger="hover"
            colors="primary:#1d2129"
            style="width: 40px; height: 40px"
          >
          </lord-icon>
        </div>
      </a>

      <a routerLink="x" routerLinkActive="active-class2" class="test">
        <div class="manage-button">
          <span class="manage-text">Billings</span>
        </div>
        <div class="manage-icon">
          <lord-icon
            src="https://cdn.lordicon.com/gsvbkwao.json"
            trigger="hover"
            colors="primary:#1d2129"
            style="width: 40px; height: 40px"
          >
          </lord-icon>
        </div>
      </a>

      <a routerLink="x" routerLinkActive="active-class2" class="test">
        <div class="manage-button">
          <span class="manage-text">Settings</span>
        </div>
        <div class="manage-icon">
          <lord-icon
            src="https://cdn.lordicon.com/dycatgju.json"
            trigger="hover"
            colors="primary:#1d2129"
            style="width: 40px; height: 40px"
          >
          </lord-icon>
        </div>
      </a>
    </div>
    <div class="router-wrap">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
